.menulist {
    background-color: white;
    color: black;
    width: 75%;
    margin: 0 auto;
    margin-top: 5rem;
    animation-name: slideUp;
    animation-duration: .5s;
}

@keyframes slideUp {
    from {
        margin-top: 2rem;
        opacity: 0;
    }
    to {
        margin-top: 5rem;
        opacity: 1;
    }
}